<app-slider></app-slider>

<body>
    <div class="container text-center" id="top">
        <h1 id="heading">Top Products</h1>
        <hr>
    </div>

    <!--Top Products-->
    <div class="container mb-5">
        <marquee>
            <div class="row text-center mb-3 mt-3" style=" display: flex;justify-content: center;">
                <div class="col" id="topProducts" >
                    <h5>Cloth</h5>
                    <img src="../../../assets/images/t-shirt-black.jpg" width="170px" height="180px">
                </div>
                <div class="col" id="topProducts">
                    <h5>Shoes</h5>
                    <img src="../../../assets/shoes-images/Nike-red.jpg" width="150px" height="180px">
                </div>
                <div class="col" id="topProducts">
                    <h5>Perfume</h5>
                    <img src="../../../assets/cosmetics-images/Perfume-1.jpg" width="150px" height="180px">
                </div>
                <div class="col" id="topProducts">
                    <h5>Shampoo</h5>
                    <img src="../../../assets/cosmetics-images/Shampoo-1.jpg" width="150px" height="180px">
                </div>
                <div class="col" id="topProducts">
                    <h5>Cloth</h5>
                    <img src="../../../assets/images/t-shirt-red.jpg" width="150px" height="180px">
                </div>
                <div class="col" id="topProducts">
                    <h5>Cloth</h5>
                    <img src="../../../assets/images/t-shirt-peach.jpg" width="150px" height="180px">
                </div>
            </div>
        </marquee>
    </div>


    <div id="qualityText">
        <div class="container text-center" id="top">
            <h1 id="heading">We Deliver</h1>
            <hr>
        </div>
        <div class="container-fluid">
            <div class="row" id="qualitybody">
                <div class="col-md-6">
                    <p></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio,
                    vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
                    auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
                    facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit
                    risus
                    congue.
                    Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
                    In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
                    venenatis.
                    Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo
                    purus.
                    Mauris quis diam velit.
                    auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
                    facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit
                    risus
                    congue.
                    Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
                    In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
                    venenatis.
                    Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo
                    purus.
                    Mauris quis diam velit.
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/images/We-Deliver-2.jpg" width="100%" height="350px">
                </div>
            </div>
        </div>
        <div class="container-fluid"  style="margin-top:50px ;">
            <app-reviews></app-reviews>
        </div>
        <div style="margin-top:50px ;">
            <app-footer></app-footer>
        </div>
    </div>
</body>