h2 {
    margin-top: 10px;
    border-bottom: 1px solid black;
    font-family: Simplifica;
}

.card-body {
    height: 150px;
}

.btn-success {
    width: 150px;
}

// body {
//     height: 100%;
//     margin-top: 0px;
//     background-image: linear-gradient(180deg, #030f13, #20383f);
// }