// .bg-light {
//     background-color: #001a33;
// }
.bg-dark {
    background-color: #253031 !important;
}

.navbar-dark {
    color: white !important;
}

.badge {
    margin-right: -10px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
}