// .bg-light {
//     background-color: #001a33;
// }
.bg-dark {
    background-color: #253031 !important;
}

.navbar-dark {
    color: white !important;
}

.badge {
    margin-right: -12px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
    margin-left: -10;
}
.navbar-text
{
    color: white;
}
#dropdownMenuButton
{
    background: none;
    color: white;
    background: none;
    text-decoration: none;
    border: none;
}
#dropdownMenuButton:hover
{
    border: 1px solid white;
}

// .navbar-expand-lg
// {
//   overflow: hidden;
//   position: fixed; /* Set the navbar to fixed position */
// }
.dropdown-menu
{
    min-width: 11rem;
    min-height:8rem;
}