.btn-primary
{
    width: 500px;
}
.coloths
{
    background-image: url('../../../assets/Inventry-cloths.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
}
.shoes
{
    background-image: url('../../../assets/Inventry-shoes.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
}
.cosmetics
{
    background-image: url('../../../assets/Inventry-cosmetics.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
}

// .coloths input
// {
//     background: transparent;
//     border:none;
//     border-bottom:1px solid white;
// }
// .coloths select
// {
//     background: transparent;
//     border:none;
//     border-bottom:1px solid white;
// }