
.coloths
{
    background-image: url('../../../assets/Inventry-cloths.jpg');
    background-repeat: no-repeat;
    color:white;
    background-size: cover;
}
.shoes
{
    background-image: url('../../../assets/Inventry-shoes.jpg');
    background-repeat: no-repeat;
    color:white;
    background-size: cover;
}
.cosmetics
{
    background-image: url('../../../assets/Inventry-cosmetics.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.row
{
    justify-content: center;
}
#sumit-btn
{
    width:50%;
    margin-bottom:10px;
}
// .coloths input
// {
//     background: transparent;
//     border:none;
//     border-bottom:1px solid white;
// }
// .coloths select
// {
//     background: transparent;
//     border:none;
//     border-bottom:1px solid white;
// }
.all{
    margin-top:70px;
}