.register{
    background: -webkit-linear-gradient(left,#13141a,#5E5E5E);
    margin-top: 10px;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    height:10% !important;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #13141a;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #13141a;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: black;
    border: 2px solid #13141a;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.text-danger
{
    font-size: 14px;
}

.register-form
{
    height:500px;
    overflow-y: auto;
}
.btnLogin
{
    float: right;
}




















// .row {
//     margin-bottom: 5px;
// }

// #allData {
//     border: 1px solid black;
// }

// .container {
//     margin-top: 50px;
//     // border: 1px solid white;
//     // box-shadow: 10px 10px 10px black;
//     height: 100%;
//     margin-bottom: 128px;
//     // background: #1e5799;
//     // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 21, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
//     // min-height: calc(80vh - 56px);
// }

// .col-sm {
//     padding: 10px;
// }

// .row {
//     padding: 10px;
// }

// p {
//     padding: 10px;
//     border-radius: 10px;
// }

// .text-center {
//     margin-bottom: 20px;
// }

// form {
//     border: 1px solid black;
//     border-radius: 10px 10px 0px 0px;
//     box-shadow: 10px 10px 10px black;
// }

// // .form-control {
// //     border: none !important;
// //     background: transparent;
// //     border-bottom: 1px solid white !important;
// //     color: white;
// // }
// // select {
// //     height: 38px;
// //     width: 249px;
// // }