<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


            <!-- SignUp Form -->

            <div class=" container" id="signup">
                    <h3 class="text-center">SignUp</h3>
                    <form [formGroup]="employee" (ngSubmit)="SignUpUser()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="firstName"
                                        placeholder="FirstName" />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['firstName'].touched && employee.controls['firstName'].invalid ">*First
                                        Name Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="text " class="form-control" formControlName="lastName"
                                        placeholder="LastName" />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['lastName'].touched && employee.controls['lastName'].invalid ">*last
                                        Name Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="dob"
                                        placeholder="DateOfBirth " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['dob'].touched && employee.controls['dob'].invalid ">*DOB
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="email " class="form-control" formControlName="email"
                                        placeholder="Email " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['email'].touched && employee.controls['email'].invalid ">*Email
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="password " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['password'].touched && employee.controls['password'].invalid ">*Password
                                        Required</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select formControlName="gender" class="form-control" placeholder="Gender">select
                                        Gender
                                        <option value="" disabled="disabled">Select Gender</option>
                                        <option *ngFor="let item of allGender" [value]="item.name">{{item.name}}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="employee.controls['gender'].touched && employee.controls['gender'].invalid ">*Gender
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="text " class="form-control" formControlName="address"
                                        placeholder="Address " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['address'].touched && employee.controls['address'].invalid ">*Address
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" formControlName="pincode"
                                        placeholder="Pincode " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['pincode'].touched && employee.controls['pincode'].invalid ">*Pincode
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="text " class="form-control" formControlName="contactNo"
                                        placeholder="contactNo " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['contactNo'].touched && employee.controls['contactNo'].invalid ">*Contact
                                        No Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="cPassword"
                                        placeholder="cPassword " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['cPassword'].touched && employee.controls['cPassword'].invalid ">*Conform
                                        password Required</span>
                                </div>
                               
                            </div>
                          
                        </div>
                        <div class="text-center">
                            <button  type="button " class="btn btn-primary" (click)="SignUpUser()"
                            [disabled]="!employee.valid">Submit</button>
                          </div>
                    </form>
                </div>
                

   