<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p></p>
            <!-- <input type="submit" name="" value="Login"/><br/> -->
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">SignIn</a>
                </li>
            </ul>

            <!-- SignUp Form -->

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">SignUp</h3>
                    <form [formGroup]="employee" (ngSubmit)="SignUpUser()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="firstName"
                                        placeholder="FirstName" />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['firstName'].touched && employee.controls['firstName'].invalid ">*First
                                        Name Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="text " class="form-control" formControlName="lastName"
                                        placeholder="LastName" />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['lastName'].touched && employee.controls['lastName'].invalid ">*last
                                        Name Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="dob"
                                        placeholder="DateOfBirth " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['dob'].touched && employee.controls['dob'].invalid ">*DOB
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="email " class="form-control" formControlName="email"
                                        placeholder="Email " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['email'].touched && employee.controls['email'].invalid ">*Email
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="password " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['password'].touched && employee.controls['password'].invalid ">*Password
                                        Required</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select formControlName="gender" class="form-control" placeholder="Gender">select
                                        Gender
                                        <option value="" disabled="disabled">Select Gender</option>
                                        <option *ngFor="let item of allGender" [value]="item.name">{{item.name}}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="employee.controls['gender'].touched && employee.controls['gender'].invalid ">*Gender
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="text " class="form-control" formControlName="address"
                                        placeholder="Address " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['address'].touched && employee.controls['address'].invalid ">*Address
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" formControlName="pincode"
                                        placeholder="Pincode " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['pincode'].touched && employee.controls['pincode'].invalid ">*Pincode
                                        Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="text " class="form-control" formControlName="contactNo"
                                        placeholder="contactNo " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['contactNo'].touched && employee.controls['contactNo'].invalid ">*Contact
                                        No Required</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="cPassword"
                                        placeholder="cPassword " />
                                    <span class="text-danger"
                                        *ngIf="employee.controls['cPassword'].touched && employee.controls['cPassword'].invalid ">*Conform
                                        password Required</span>
                                </div>
                                <button type="button " class="btnRegister" (click)="SignUpUser()"
                                    [disabled]="!employee.valid">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>


                <!-- Sign In form -->

                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">SignIn</h3>
                    <form [formGroup]="loginForm" (ngSubmit)="SignIn(loginForm)">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email " class="form-control " formControlName="email" placeholder="Email ">
                                <span class="text-danger"
                                    *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid ">*Email
                                    Required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control " formControlName="password"
                                    placeholder="password ">
                                <span class="text-danger"
                                    *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid ">*Password
                                    Required</span>
                            </div>
                            <button type="button " class="btnRegister" (click)="SignIn(loginForm)"
                                    [disabled]="!employee.valid">Submit</button>
                        </div>
                        
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>